@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: "Ubuntu Sans", sans-serif;
    background-color: #111;
    width: 100vw;
}

.main {
    color: white;
}